body {
  font-family: serif;
  margin: 0;
}
.app-bar-right {
  margin: 0;
  margin-top: 0.3em;
}

.app-bar-right-list {
  display: inline-block;
  vertical-align: middle;
}

.tab > div{
  background-color: #EFEBE9;
}

.table__toolbar{
  background-color: rgb(48, 48, 48) !important;
  margin-bottom: 7px;
}

.table__toolbar__search__text{
  margin-top: 23px;
}
